---
layout: layout.liquid
eleventyExcludeFromCollections: true
---

<div class="columns is-mobile is-centered is-narrow-mobile">
    <div class="column is-4 is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
        {% if collections.articles %}
        {%- for article in collections.articles %}
        <article class="media">
            <figure class="media-left">
                <p class="image is-128x128">
                    <img src="{{ article.url | concat: article.data.featureimg }}">
                </p>
            </figure>
        </article>
    </div>
    <div class="column is-8 is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
        <div class="media-content">
            <div class="content">
                <p class="tir title is-2 has-text-left ml-4">
                    <a href="{{article.url}}">{{ article.data.title }}<br><span class="title is-4">{{ article.data.subtitle }}</span></a>
                </p>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h2 class="tir">No Articles Found</h2>
        {% endif%}
    </div>
</div>
