<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="icon"
          href="/fav.png" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1" />
    <meta name="theme-color"
          content="#000000" />
    <meta name="description"
          content="A11y1st created by WCR Studios. Open accessability development standards for the accessable web." />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
    <link rel="stylesheet"
          href="/css/index.css">
    <title>A11y1st - Building the Accessible Web</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async
            src="https://www.googletagmanager.com/gtag/js?id=G-XKYNET7V0F"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'G-XKYNET7V0F');
    </script>
  </head>

  <body>
    <div class="container">
      <div>
        <section class="hero">
          <div class="hero-body has-background-dark has-text-centered has-text-white">
            <h1 id="home"
                class="is-size-1 tir">A11y 1st</h1><span class="is-size-4">The home of the Accessible Web!</span>
          </div>
        </section>
      </div>
      <div>
        <section class="section">
          <nav class="navbar"
               role="navigation"
               aria-label="main navigation">
            <div id="navbarBasicExample"
                 class="navbar-menu tir is-size-4">
              <a class="navbar-item"
                 href="/">Home</a>
              <a class="navbar-item"
                 href="#purpose">Purpose</a>
              <a class="navbar-item"
                 href="#about">About</a>
              <a class="navbar-item"
                 href="/articles">Articles</a>
            </div>

          </nav>
        </section>
      </div>
      <div>
        <section class="section tir">
          <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical is-parent">
              <div class="tile is-child"><img src="images/logo.svg"
                     width="250"
                     alt="Accssibility First Logo"></div>
            </div>
            <div class="tile is-child">
              <p id="purpose"
                 class="title">Purpose</p>
              <p>A11y 1st was created to be a single resource for software developers to learn about accessibility in web design and development.</p><br>
              <p>As this community grows, we look forward to developers and designers contributing articles and techniques they have learned while attempting to implement accessibility within their designs, pages, and apps.</p><br>
              <p>There are many that believe public awareness is what is needed to make changes on how accessibility is managed on the web. We feel that it should just be the new standard that designers and developers use when building web pages. We don't need to talk about it, we just need to do it.</p>
            </div>
            <div class="tile is-parent"></div>
          </div>
        </section>
      </div>
      <div>
        <section class="section tir">
          <div class="tile is-ancestor">
            <div class="tile is-parent">
              <div class="tile is-child">
                <p>WCR Studios is run by Wayne Renbjor. He has worked in software development for over 20 years. He has lead many large teams of designers, developers, and QA engineers.</p><br>
                <p>Once he leared about accessibility and how easy it was for a 'Pretty Design' to ruin the experience of using a page for a large part of the population, he knew there had to be a better way.</p><br>
                <p>Working with his teams, many techniques were discovered that can help everyone build a more Accessible Web.</p><br>
                <p>A11y 1st is about providing a community platform for designers and developers to learn and grow. Tutorials, Code, and Conversations will be available as we grow.</p><br>
                <p>If you are looking for an accessible web site or social media management, please visit <a class="is-underlined"
                     href="https://wcrstudios.com">WCR Studios.</a></p>
              </div>
            </div>
            <div class="tile is-4 is-vertical is-parent">
              <div class="tile is-child">
                <p>Founded by</p>
                <p id="about"
                   class="title">WCR Studios</p>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div>
        <footer class="footer">
          <div class="content has-text-centered">© 2022 - WCR Studios</div>
        </footer>
      </div>
    </div>
  </body>

</html>
