---
title: 'Do All Images Need ALT Text?'
subtitle: 'Its More Than SEO; A Brief Introduction to WAI-ARIA'
featureimg: images/altText.png
pubdate: 06/17/2022
author: 'Wayne Renbjor'
---


<article class="tir">
    <div class="columns is-mobile is-centered mb-5">
        <div class="column is-full mt-6 has-text-centered">
            <figure class="image is-inline-block">
                <img src={{
                     featureimg
                     }}
                     alt="Article Logo" />
            </figure>
        </div>
    </div>
    <div class="columns is-mobile is-centered mb-5">
        <div class="column is-8">
            <div class="notification is-link is-centered">
                <!-- <button class="delete"></button> -->
                <p class="is-size-5-mobile m-4">The focus of this article is to provide some simple SEO and design information with exposure to the <i><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-hidden">aria-hidden</a></i> attribute. The <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA">WAI-ARIA</a> spec and details will be covered in another article.</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="columns is-mobile is-centered mb-5">
        <div class="column is-full">
            <p class="is-size-5-mobile m-4">Alt attributs were introducts in the HTML 1.2 Specfication first drafted in 1993 and were made required for image and area tags (&lt;img&gt;, &lt;area&gt;) in HTML 4.01 drafted in 1999.</p>
            <br>
            <p class="is-size-5-mobile m-4">The Alt attribut is the talk of the town for SEO marketers. There are claims that it can drasticly impact your sites ability to rank in search engines if it has images that do not have Alt attributes filled in.</p>
            <p class="is-size-5-mobile m-4">I'm here to expose you to the Accessibility side of images and what the Alt attribute could mean for someone that is blind or just has a sight imparement. Also what it means to screen readers.</p>
        </div>
    </div>
</article>
