@font-face {
  font-family: "OpenDyslexicRegular";
  src: local("OpenDyslexicRegular"),
  url("./fonts/OpenDyslexic-Regular.otf") format("OpenType");
  font-weight:normal;  
}

@font-face {
  font-family: "OpenDyslexicBold";
  src: local("OpenDyslexicBold"),
  url("./fonts/OpenDyslexic-Bold.otf") format("OpenType");
  font-weight:bold;  
}
@font-face {
  font-family: "OpenDyslexicItalic";
  src: local("OpenDyslexicItalic"),
  url("./fonts/OpenDyslexic-Italic.otf") format("OpenType");
  font-weight:italic;  
}

@font-face {
  font-family: "TiresiasInfofont";
  src: local("TiresiasInfofont"),
  url("./fonts/Tiresias_Infofont.ttf") format("truetype");
  font-weight: normal;
}

.tir {
  font-family: "TiresiasInfofont";
}
.dd {
  font-family: "OpenDyslexicRegular";
}

/* body {
  margin: 0;
}

p, span, div {
  margin: 0;
  font-family: "TiresiasInfofont";
  font-size: 16px;
}

code {
  font-family: "OpenDyslexicRegular";
}

h1 {
  margin:0;
  font-family: "TiresiasInfofont";
  font-size: 4rem;
}
h2 {
  margin:0;
  font-family: "TiresiasInfofont";
  font-size: 2.75rem;
}
h3 {
  margin:0;
  font-family: "TiresiasInfofont";
  font-size: 2rem;
}
h4 {
  margin:0;
  font-family: "TiresiasInfofont";
  font-size: 1.25rem;
}
h5 {
  margin:0;
  font-family: "TiresiasInfofont";
  font-size: 1rem;
}

.text-dark {
  color: black;
}

.text-white {
  color: white;
}

.text-green-1 {
  color: #00FF00;
}

.text-green-2 {
  color: #00AA00;
}
.text-green-3 {
  color: #007700;
}
.text-green-4 {
  color: #004400;
}

.text-blue-1 {
  color: #0022FF;
}

.text-blue-2 {
  color: #0022AA;
}

.text-blue-3 {
  color: #002277;
}

.text-blue-4 {
  color: #002244;
}


.text-red-1 {
  color: #FF0000;
}

.text-red-2 {
  color: #AA0000;
}

.text-red-3 {
  color: #770000;
}

.text-red-4 {
  color: #440000;
}

.text-center {
  text-align: center;
}

.bg-dark {
  background-color: #000000;
}

.bg-gray {
  background-color: #444444;
}

.bg-vh-100 {
  min-height: 100vh;
}

.bg-vh-40 {
  min-height: 40vh;
}

.read-lg {
  font-size: 1.5rem;
}

.pt-100 {
  padding-top: 100px;
} */